{% extends 'base.html' %}


<head>
    <title>Register</title>
    
</head>


{% block content %}
<br/>
<div class="col-md-6  offset-md-3">
    <h1 class=" text-center">Register</h1>
    <br/><br/>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="col-md-6  offset-md-3 text-center">
        <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
    <br/><br/>
        <div class="col-md-6  offset-md-3 text-center">
        <a href="{% url 'login' %}"><button type="submit"  class="btn btn-success">Already have an account? Login here.</button></a>
        </div>
</div>

{% endblock %}